//styles for chats.jsx
.chats{
    overflow-y: scroll !important;
    .userChat{
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;
        .userChat.selected {
            background-color: #eaeaea;
          }
        &:hover{
            background-color: #240e3b7e;
        }
        img{
            height: 35px;
            width: 35px;
            border-radius: 50%;
            object-fit: cover;
        }
        .userInfo{
            span{
                font-weight: 500;
            }
            p{
                margin: 0;
                font-size: 9px;
                color: lightgray;
            }
            .photoIcon{
                height: 15px;
                width: 15px;
            }
        }
    }
    .userChat.selected {
        background-color: #240e3b; 
      }
}